.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Calendar-main {
  margin: 2px;
  font-size: 16px;
}
.Calendar {
  height: 80vh !important;
}

.Left {
  float:left;
  background-color:whitesmoke;
  width:20vw;
  height: 80vh;
  margin: 10px;
  text-align: start;
}

.Banner {
  height: 50px;
  padding: 20px 40%;
  color: #a967aa;
  background-color: #384248;
  line-height: 2.5;
  font-weight: bold;
  font-size: 18px;
}

.Input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  user-select: none;
  text-transform: capitalize;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
